.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

a{
    margin: 10px;
    color: brown;
    font-size: 20px;

}